body {
    background-color: #188FA7;
    font-family: Arial, sans-serif;
    color: #565264;
}

main, header, footer {
    background-color:#D6EDFF;
    margin: 0 auto;
    width: 80vw;
    padding: 10px 1em;
}
h1 {
    color: #7D5BA6;
    border-bottom: 1px solid #565264;
}

h2 {
    color: #FF6978;
}

h1,h2 {
    font-family: 'RocknRoll One', sans-serif;
}

blockquote {
    background-color: whitesmoke;
    padding: 1rem;
}

hr {
    height: 1px;
    background-color: #188FA7;
    border: none;
}

img.over {
    float: right;
}

#Source {
    background-color: #565264;
    color: whitesmoke;
    padding: 1px 1rem;
}

a:link {
    color: #188FA7;
}
a:visited {
    color: #FF99A5;
}
a:focus {
    color: #D6EDFF;
}
a:hover {
    color: #1B998B;
}
a:active {
    color: #C5D86D;
}