@font-face {
    font-family: 'Dogica';
    src: url('Fonts/dogicapixel-webfont.woff2') format('woff2'),
         url('Fonts/dogicapixel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dogica';
    src: url('Fonts/dogicapixelbold-webfont.woff2') format('woff2'),
         url('Fonts/dogicapixelbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RetroComputer';
    src: url('Fonts/retro_computer_personal_use-webfont.woff2') format('woff2'),
         url('Fonts/retro_computer_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #35363d;
    margin: 0;
}
h1 {
    font-family: 'RetroComputer';
    font-size: 30pt;
    font-weight: normal;
    color: white;
    margin: 0;
}
h2 {
    font-family: 'RetroComputer';
    font-size: 22pt;
    color: white;
    font-weight: normal;
}
p {
    font-family: 'Dogica';
    color: white;
    line-height: 1.25em;
    font-size: 11.5pt;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #686868;
    padding: 10px 10vw;
}
#icon {
    color: white;
    display: inline;
    vertical-align: bottom;
    height: 1.25em;
}
header p{
    font-family: 'RetroComputer';
    text-align: right;
    margin: 0;
}

/* Grid Info and Image Boxes */
div.infobox {
    background-color: #686868;
    height: auto;
    padding: 10px 2em;
}
div.imagebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
    background-color: #324e44;
    box-sizing: border-box;
    border: 10px solid white;
    padding: 20px;
}
div.imagebox p{
    font-family: "RetroComputer";
    font-size: 16pt;
    line-height: 0;
}
div.imagebox img {
    max-width: 80%;
}

/* Tree Grid */
div.tree {
    display: grid;
    width: 80vw;
    min-height: 38vw;
    grid-template-areas: "TreeInfo TreeImage";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 40px 10vw;
}
#bigtree {
    background: linear-gradient(135deg, #e8fdf5, #244d3e);
}

/* Forest Image */
div.image {
    width: 100%;
}
div.image img {
    width: 100%;
}

/* Items Grid */
div.items {
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin: 40px 10vw;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(Assets/trees.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 0 10vw;
    box-sizing: border-box;
    border-top: 10px solid white;
}
footer p {
    width: 15em;
    font-family: 'RetroComputer';
    font-size: 22pt;
}
footer p.right {
    width: 17em;
    text-align: right;
}