figure {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
figure img {
    width: 100%;
}

header, main, footer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#tetlist {
    display: flex;
    flex-flow: row wrap;
}

div.tet {
    flex: 0 1 450px;
    border: 1px solid gray;
    text-align: center;
}

div.tet img {
    width: 60%;
}

div.tet span.name {
    display: block;
    margin: 1em 0;
    font-size: large;
    font-weight: bold;
}

div.tet div.aliases {
    text-align: left;
    margin: 1em;
}

div.long img {
    width: 80%;
}

div.square img {
    width: 40%;
}