body{
    margin: 100px;
}

h2 {
    border-bottom: 1px solid crimson;
    clear: both;
}

footer {
    clear: both;
    position: fixed;
    top: 0;
    z-index: -1;
}

figure {
    float: right;
    width: 40%;
    margin: 1rem;
}

figure img {
    width: 100%;
}

div.tet {
    float: left;
    width: 40%;
    border: 1px solid gray;
}