/* Body Style*/
body {
    font-family: 'Kosugi', sans-serif;
    background-color: #eef1f3;
    color: #332C23;
}

header {
    background-color: #88527F;
}
h1 {
    font-family: 'M PLUS 1p', sans-serif;
    color: #eef1f3;
    padding: 1rem;
    margin-left: 75px;
}
h2 {
    font-family: 'M PLUS 1p', sans-serif;
    color: #614344;

    /* Border */
    border-left-style: solid;
    border-width: 10px;
    padding-left: 10px;
    border-color: #9F87AF;
    background-color: #9f87af88;
}


/* Flex */
div.flex {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    align-content: space-between;
    margin-left: 80px;
    margin-right: 100px;
}
div.flex div {
    flex: 1 1 450px;
}
div.flex div.image {
    flex: 0 1 auto;
    max-width: 360px;
}
div.flex div.text h2{
    margin-right: 1rem;
    margin-top: 0;
}
div.flex div.text p{
    margin-right: 2rem;
    margin-left: 20px;
}


/* Bio */
figure.portrait {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: 0;
}
figure.portrait img{
    max-width: 100%;
}

#bio {
    text-align: justify;
}


/* Projects & Github */
figure.captioned {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: 0;
}
figure.captioned img {
    max-width: 100%;
}
figure.captioned figcaption {
    text-align: center;
    font-style: italic;
}

#project {
    display: flex;
    flex-flow: column wrap;
}
#project div {
    flex: 1 1 3em;
}


/* Pseudo-class */
a:link {
    color: #1e88c5;
}
a:visited {
    color: #88527F;
}
a:hover {
    color: #55C1FF;
}
a:active {
    color: #c5fff2;
}
a:focus {
    color: #8468ff;
}